@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "DOSIS";
  }
}

@keyframes blink-gradient {
  0%,
  100% {
    background: linear-gradient(
      45deg,
      #0f0604ae,
      #ce461d,
      #e5aaa5
    ); /* Color at the start and end */
  }
  50% {
    background: linear-gradient(
      45deg,
      #00c6ff,
      #0072ff,
      #2659b2
    ); /* Color in the middle of the blink */
  }
}
