#mob {
  color: rgb(241, 246, 248);
}

#descrip {
  color: rgb(13, 89, 104);
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
